@font-face { font-family: 'Norse Bold'; src: url('Norse-Bold.otf'); } 

body{
    font-family: Arial;
    display:flex;
    flex-direction: row;
    padding:0;
    margin:0;
    background-color: #f9fafb;
}
.image{
    position: relative;
    height:100vh;
    width:auto; 
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.logo{
    position: relative;
    top: 25%;
    display:flex;
    align-items: center;
    justify-content: center;
    max-height: 8em;
    width:30vw;
    background-color: rgb(16,16,16,0.5);
    padding:15px 0;
}
h1{
    font-family: Norse Bold, sans-serif;
    font-size: 6em;
    color:white;
}
.logoimg{
    height:8em;
    object-fit: contain;
}

.column{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}
.form{
    background-color: white;
    width: 100%;

}
.container{
    padding: 0 0 0 2em;
}
button{
    color:white;
    background-color: #596D48;
    border-radius: 8px;
    padding: 0 4em;
}
.container > * {
    margin: 1em 0 1em 0;
}
.credit{
    color:white;
}
.credit a{
    color:white
}
form{
    display:grid;
    grid-template-columns: 20em 20em;
}
input{
    border-radius: 6px;
    border:1px solid lightgray;
    padding:.5em;
    margin:0;
    width:20em;
}
span{
    font-family:Courier New, sans-serif;
}
